
.contact-section {
    background-color: rgb(0, 36, 74);
    color: rgb(242, 243, 243);
    padding: 2rem 0;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
  }
  
  .contact-info {
    color: rgb(242, 243, 243);
  }
  
  .contact-info p, .contact-info li {
    color: rgb(242, 243, 243);
  }
  


  


